/* @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap'); */
@font-face {
  font-family: Anton;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("asset/fonts/Anton-Regular.ttf") format("truetype");
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url("asset/fonts/montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
}
@import "tailwindcss";


/* body {
  --academind-red : #ff1b68;
} */
@theme {
  --font-anton: "Anton", "sans-serif";
  --font-montserrat: "Montserrat", "sans-serif";
  --color-academind-pink : #ff1b68;
  --color-academind-green : #2ddf5c;
}